.contato-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contato-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.contato-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.contato-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.contato-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.contato-icon {
  width: 36px;
  height: 36px;
}
.contato-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.contato-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.contato-link1 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.contato-link2 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.contato-right-side {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contato-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100VH;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.contato-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.contato-image {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.contato-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contato-icon2 {
  width: 24px;
  height: 24px;
}
.contato-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contato-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contato-link4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contato-link5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
@media(max-width: 767px) {
  .contato-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-gray-black);
  }
  .contato-icon {
    fill: var(--dl-color-gray-white);
  }
  .contato-links-container {
    display: none;
  }
}
